<?xml version="1.0"?>
<config>
    <modules>
        <Rukhsar_GoogleTagManager>
            <version>0.1.0</version>
        </Rukhsar_GoogleTagManager>
    </modules>
    <frontend>
        <routers>
            <googletagmanager>
                <use>standard</use>
                <args>
                    <module>Rukhsar_GoogleTagManager</module>
                    <frontName>googletagmanager</frontName>
                </args>
            </googletagmanager>
        </routers>
        <layout>
            <updates>
                <googletagmanager>
                    <file>rukhsar/googletagmanager.xml</file>
                </googletagmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<googletagmanageradmin>
				<use>admin</use>
				<args>
					<module>Rukhsar_GoogleTagManager</module>
					<frontName>googletagmanageradmin</frontName>
				</args>
			</googletagmanageradmin>
        </routers>
    </admin>
    <global>
        <models>
            <googletagmanager>
                <class>Rukhsar_GoogleTagManager_Model</class>
            </googletagmanager>
        </models>
        <blocks>
            <googletagmanager>
                <class>Rukhsar_GoogleTagManager_Block</class>
            </googletagmanager>
        </blocks>
        <helpers>
            <googletagmanager>
                <class>Rukhsar_GoogleTagManager_Helper</class>
            </googletagmanager>
        </helpers>
    </global>
</config>
